* {
    margin: 0;
    padding: 0;
}
.subheader {
    width: 100%;
    height: 75px;
    background: #A34A28;

    .container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }

    .etapasDoPedido {
        color: #FFF;
        font-size: 26px;
        padding-top: 18px;
        text-align: center;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}